:root {
    --primary-color: #f5a623;
    --secondary-color: #f5a623;
    --text-color: #333;
    --border-color: #ddd;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background-image: url('../images/coffee-machine-making-perfect-cup-coffee.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.87);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    padding: 2rem;
    margin: 2rem 0;
}

header {
    text-align: center;
    padding: 1rem;
    border-bottom: 2px solid var(--primary-color);
}

main {
    padding: 2rem 1rem;
}

h1, h2 {
    margin-bottom: 1rem;
    color: var(--primary-color);
}

form {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.recipe-info {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.recipe-info input {
    flex: 1;
}

.ingredient-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.ingredient-row input,
.ingredient-row select {
    width: 100%;
    box-sizing: border-box;
}

.ingredient-quantity {
    position: relative;
}

.quantity {
    width: 80px;
}

.measurement-notes {
    display: flex;
    justify-content: flex-end;
}

input, select, button {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    font-size: 1rem;
}

select {
    width: fit-content;
}

button {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

button:hover {
    background-color: #3a7bc8;
}

#addIngredient {
    margin-top: 1rem;
    width: 100%;
}

.suggestion {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: none;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    max-height: 150px;
    overflow-y: auto;
}

.suggestion-text {
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--text-color);
}

.suggestion-text:hover {
    background-color: #f0f0f0;
}

.ingredient:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#output {
    margin-top: 2rem;
}

textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    font-size: 1rem;
    resize: vertical;
    box-sizing: border-box;
}

#copyButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

#copyPlaintext, #copyCSV {
    background-color: var(--secondary-color);
    width: 100%;
}

footer {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    border-top: 2px solid var(--primary-color);
}

@media (max-width: 600px) {
    .ingredient-row {
        grid-template-columns: 1fr;
    }

    .ingredient-quantity, .measurement-notes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.40rem;
    }

    .quantity {
        width: 100%;
    }

    #recipeName, #recipeSource, .notes {
        width: 100%;
        box-sizing: border-box;
    }

    .suggestion {
        top: 100%;
        width: 50%;
    }

    .remove-row {
        grid-column: 1 / -1;
        width: 100%;
    }
}